.container-top {
    display: flex;
    position: sticky;
    justify-content: space-evenly;
    background: radial-gradient(#ffffff, #dddddd);
    padding-top: 1rem;
    flex-wrap: wrap;
} 

.container-useful-informations {
    display: flex;
} 

.container-location, .container-phone, .container-email {
    display: flex;
    align-items: center;
    padding: 2rem;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 3px solid gray;
    border-radius: 50%;
    margin-right: 1rem; /* You can adjust this value as needed */
}

.icon svg {
    transform: scale(1.5); /* Adjust the scale factor as needed */
}

.icon-mobile {
    display: none;
    width: 25px;
    height: 25px;
    color: #ffffff;
}

.icon-mobile svg {
    transform: scale(1); /* Adjust the scale factor as needed */
}

.navbar-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-header {
    margin-top: 1rem;
    max-width: 300px;
    max-height: 150px;
}

li, a {
    text-decoration: none;
}

.navlinks li, .get-a-quote {
    text-transform: uppercase;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-image: repeating-linear-gradient(to bottom, hsl(0, 0%, 55%), hsl(0, 0%, 25%));
}

.navlinks {
    list-style: none;
}

.navlinks li { 
    display: inline-block;
    padding: 0 50px;

}

.navlinks a { 
    color: white;

}

.navlinks a:hover {
    cursor: pointer;
    color: #a7a7a7;
    transition: .5s;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
  }

.get-a-quote {
    background-color: whitesmoke;
    border-radius: 5%;
    margin-right: 110px;
    padding: 1rem;
}

.get-a-quote {
    color: black;
}

.get-a-quote:hover {
    cursor: pointer;
    background-color: black;
    color: white;
    transition: .10s;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

@media (max-width: 999px) {
    .icon-mobile {
        display: block;
    }

    .get-a-quote {
        margin-right: 0;
    }

    .navbar {
        flex-direction: column-reverse;
    }

    .navlinks {
        display:  none;
    }

    .navlinks.is-open {
        display: flex;
        flex-direction: column;
        margin: 0 0 1rem 0;
        padding: 0;
    }

    .navlinks li { 
        padding: 0;
        margin: 1rem 0 0 0;
    }

    .navbar-button {
        justify-content: space-between;
    }

    
    /* TRANSITION FOR NAVBAR TODO
    .navbar.is-pressed {
        opacity: 0.5;
        transition: opacity 1s ease;
    }
    */

}

@media (max-width: 901px) {
    .container-useful-informations {
        display: none;
    }
}